<div class="col-md-4 log-icons text-right">

    <ul class="social_list1 mt-3">
        <li>
            <a href="https://twitter.com/samet74goktepe" class="twitter2">
                <i class="fab fa-twitter"></i>

            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/samet-g%C3%B6ktepe-419932215/" class="facebook1">
                <i class="fab fa-linkedin"></i>
            </a>
        </li>
    </ul>
</div>
