<div class="tech-btm widget_social">
    <h4>Social Media</h4>
    <ul>

        <li>
            <a class="twitter" href="https://twitter.com/samet74goktepe">
                <i class="fab fa-twitter"></i>
                <span></span> Twitter
            </a>
        </li>
        <li>
            <a class="facebook1" href="https://www.linkedin.com/in/samet-g%C3%B6ktepe-419932215/">
                <i class="fab fa-linkedin"></i>
                <span></span> Likedin
            </a>
        </li>
    </ul>
</div>
